#titlebar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    white-space: nowrap;

    h1 {
        margin: 0;
        padding: 0;
        padding-left: 5vw;
        text-align: center;
        color: $foreground_lightgrey;
        font-size: 3vh;

        a {
            color: $foreground_lightgrey;
            text-decoration: none;
            cursor: pointer;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        padding-right: 5vw;

        li {
            list-style: none;
            padding-left: 5vw;
            font-weight: bold;
            font-size: 2vh;
        }
    }
}