#home-page {
    margin: 5vh;

    #home-emoji {
        font-family: monospace
    }
}

.vertical-split {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#home-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    padding-right: 10vh;
    
    // necessary for emoji to work properly
    * { 
        font-weight: normal;
    }

    hr {
        width: 65%;
        margin-left: 0;
        margin: 10vh 0;
    }
}

img {
    height: auto;
    width: auto;
    max-width: 35%;
    align-self: center;
}