#home-page {
    margin: 5vh;

    .vertical-split {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #home-text {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: baseline;
        padding-right: 10vh;
    }

    h1 {
        font-size: 10vh;
        margin-bottom: 3vh;
    }

    h2 {
        font-size: 5vh;
        margin-top: 0
    }

    img {
        height: auto;
        width: auto;
        max-width: 35%;
        align-self: center;
    }

    hr {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
}