@mixin sticky-title {
  position: sticky;
  flex-shrink: 0;
  align-self: flex-start;
}

.sticky-title {
  @include sticky-title;
  top: 10vh; 
  margin-left: 10vh;
  margin-right: 10vh;

  h2 {
    font-size: 5vh;
  }
}

#projects-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;

  .projects-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.project-card {
  margin: 2vh;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    padding: 1vh;
  }

  .project-title-repo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1vh;
    margin-top: 0;

    h3 {
      flex-grow: 1;
      font-size: 3.5vh;
    }
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
    align-self: center;
  }

  ul { // technologies used, list
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  li { // technologies used, items
    list-style-type: none;
    margin: 0.5vh;
    padding: 1vh 2vh;

    border: 3px solid $foreground_lightgrey;
    border-radius: 10px;
  }

  .project-blurb {
    flex-grow: 1;
  }
}

@media screen and (max-width: 800px) {
  #projects-page {
    flex-direction: column;
  }

  .sticky-title {
    position: relative;
    flex-shrink: 0;
    align-self: center;
    top: 0;
  }

  .project-card {
    max-width: 70%;
  }
}

@media screen and (min-width: 1140px) {
  .project-card {
    max-width: 40%;
  }
}

#projects-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}