$background_darkestgrey: #18191a;
$background_darkergrey: #242627;
$background_darkgrey: #303334;

$foreground_lightgrey: #d8dee6;

$accent_green: #66C010;
$accent_darkblue: #003978;
$accent_darkred: #990000;
