$background_darkestgrey: #18191a;
$background_darkergrey: #242627;
$background_darkgrey: #303334;

$foreground_lightgrey: #d8dee6;

$accent_green: #66C010;
$accent_darkblue: #003978;
$accent_darkred: #990000;



$blue: #003978;
$green: #66C010;
$black: #000000;
$white: #FFFFFF;
$gray: #A5ACAF;

$color_background: $blue;
$color_panel_background: $white;
$color_panel_border: $gray;
$color_textshadow: $black;
$color_boxshadow: $white;
$color_text: $black;
$color_link: $green;
$color_hover: $green;
