$blue: #002145;
$green: #66C010;
$black: #000000;
$white: #FFFFFF;
$gray: #A5ACAF;

$color_background: $blue;
$color_panel_background: $white;
$color_panel_border: $gray;
$color_textshadow: $black;
$color_boxshadow: $white;
$color_text: $black;
$color_link: $green;
$color_hover: $green;
