@import "projects-list.scss";

body {
  margin: 1%;
  background-color: #005B80;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Aaargh, sans-serif;
  font-weight: bold;
  color: white;
}

@font-face {
  font-family: Aaargh;
  src: url(Aaargh.ttf);
}

.name {
  font-size: 3vh;
  display: flex;
  flex-direction: row;
  background-color: #0092CC;
  box-shadow: 1vh 1vh white;
  margin: 1vh;

  .firstname, .lastname {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-left: 2vh;
    padding-right: 2vh;
    text-shadow: 3px 3px black;
  }
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  a {
    padding-left: 2vh;
    padding-right: 2vh;
    margin: 1vh;
    color: white;
    background-color: #0092CC;

    &:hover {
      box-shadow: 1vh 1vh white;
    }
  }
}

.jump-to-top {
  margin-top: 5vh;
  color: white;
}
