.projects-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-card {
  background-color: #0092CC;
  margin: 2vh;
  padding: 2vh;
  max-width: 40vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  box-shadow: 1vh 1vh;

  .project-title-repo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    h3 {
      flex-grow: 1;
    }

    a {
      color: white;
      margin-left: 10px;
      margin-right: 10px;

      &:hover {
        color: #4DCCFF;
      }
    }
  }

  img {
    width: 40vh;
    align-self: center;
  }

  ul { // technologies used, list
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  li { // technologies used, items
    list-style-type: none;
    padding: 1vh;
    background-color: #00B7FF;
    border: 2px solid black;
    margin: 0.5vh;
  }

  .project-blurb {
    flex-grow: 1;
  }

  @mixin project-status {
    padding: 1vh;
    width: 15vh;
    text-align: center;
    border: 2px solid black;
    align-self: flex-end;
  }

  .active {
    @include project-status;
    background-color: #04B630;
  }

  .completed {
    @include project-status;
    background-color: #548056;
  }
}
