@import "tailwindcss";

@plugin "daisyui" {
  themes: "light", "dark";
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(30.857% 0.023 264.149);
  --color-base-200: oklch(28.036% 0.019 264.182);
  --color-base-300: oklch(26.346% 0.018 262.177);
  --color-base-content: oklch(82.901% 0.031 222.959);
  --color-primary: oklch(84% 0.238 128.85);
  --color-primary-content: oklch(17.226% 0.028 139.549);
  --color-secondary: oklch(78% 0.154 211.53);
  --color-secondary-content: oklch(14.675% 0.033 35.353);
  --color-accent: oklch(87% 0.006 286.286);
  --color-accent-content: oklch(14.845% 0.026 311.379);
  --color-neutral: oklch(26% 0 0);
  --color-neutral-content: oklch(92% 0 0);
  --color-info: oklch(86.078% 0.142 206.182);
  --color-info-content: oklch(17.215% 0.028 206.182);
  --color-success: oklch(86.171% 0.142 166.534);
  --color-success-content: oklch(17.234% 0.028 166.534);
  --color-warning: oklch(86.163% 0.142 94.818);
  --color-warning-content: oklch(17.232% 0.028 94.818);
  --color-error: oklch(82.418% 0.099 33.756);
  --color-error-content: oklch(16.483% 0.019 33.756);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(84% 0.238 128.85);
  --color-primary-content: oklch(17.226% 0.028 139.549);
  --color-secondary: oklch(78% 0.154 211.53);
  --color-secondary-content: oklch(14.675% 0.033 35.353);
  --color-accent: oklch(87% 0.006 286.286);
  --color-accent-content: oklch(14.845% 0.026 311.379);
  --color-neutral: oklch(26% 0 0);
  --color-neutral-content: oklch(92% 0 0);
  --color-info: oklch(86.078% 0.142 206.182);
  --color-info-content: oklch(17.215% 0.028 206.182);
  --color-success: oklch(86.171% 0.142 166.534);
  --color-success-content: oklch(17.234% 0.028 166.534);
  --color-warning: oklch(86.163% 0.142 94.818);
  --color-warning-content: oklch(17.232% 0.028 94.818);
  --color-error: oklch(82.418% 0.099 33.756);
  --color-error-content: oklch(16.483% 0.019 33.756);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}
